@font-face {
  font-weight: 700;
  font-family: 'Source serif pro';
  font-style: normal;
  src: url('../fonts/Sourceserifprobold.woff') format('woff'), url('../fonts/Sourceserifprobold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 300;
  font-family: 'Source serif pro';
  font-style: normal;
  src: url('../fonts/Sourceserifprolight.woff') format('woff'), url('../fonts/Sourceserifprolight.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: 'Source serif pro';
  font-style: normal;
  src: url('../fonts/Sourceserifprosemibold.woff') format('woff'), url('../fonts/Sourceserifprosemibold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: 'Source serif pro';
  font-style: normal;
  src: url('../fonts/Sourceserifpro.woff') format('woff'), url('../fonts/Sourceserifpro.woff2') format('woff2');
  font-display: swap;
}
